streamlit==1.38.0
pandas==2.2.3
numpy==2.0.2
rdkit==2024.3.5
PubChemPy==1.0.4
plotly==6.7.0
pillow==10.4.0
streamlit-aggrid==1.0.5
SQLAlchemy==2.0.49
openpyxl==3.1.5
pyarrow==17.0.0
python-decouple==3.8
GitPython==3.1.46
requests==2.32.5
